@charset "UTF-8";
/*base*/
.cf::before,
.cf::after {
  display: block;
  clear: both;
  content: "";
}
.fl {
  float: left;
}
.fr {
  float: right;
}
* {
  box-sizing: border-box;
}
header,
main,
footer {
  min-width: 1210px;
}
.btn {
  position: relative;
  top: 0;
  display: inline-block;
  margin: auto;
  font-size: 15px;
  text-decoration: none;
  background: #00bc9c;
  box-shadow: 0 3px 0 #009c8c;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  transition: .3s;
}
.btn:hover {
  transition: .3s;
  top: 3px;
  box-shadow: 0 0 0 #009c8c;
}
.title {
  color: #506a85;
  font-size: 44px;
  margin-bottom: 30px;
}
.txt {
  color: #506a85;
  font-size: 22px;
  line-height: 34px;
}
/*header*/
.header_top {
  width: 100%;
  background:#f5f7fa;
  border-bottom: solid 1px #e6e9ed;
}
.header_top_inner {
  width: 1170px;
  height: 40px;
  margin: auto;
}
.header_top_nav {
  height: 100%;
}
.header_top_nav > li {
  float: left;
  margin-left: 46px;
}
.header_top_nav > li:first-child {
  padding-left: 4px;
  margin-left: 16px;
}
.header_contact {
  position: relative;
  padding: 0;
  color: #668;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
}
.header_contact:hover {
  color: #00bc9c;
}
.header_mail::before {
  position: absolute;
  top: -70%;
  left: -25%;
  content: url(../img/header/icon-mail-off.png);
}
.header_tel::before {
  position: absolute;
  top: -70%;
  left: -19%;
  content: url(../img/header/icon-tel-off.png);
}
.header_mail:hover.header_mail::before {
  content: url(../img/header/icon-mail-on.png);
}
.header_tel:hover.header_tel::before {
  content: url(../img/header/icon-tel-on.png);
}
.header_top_nav_icons > li {
  display: flex;
  float: left;
  width: 30px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}
.icon {
  margin: auto;
}
.facebook {
  content: url(../img/header/icon-facebook-off.png);
}
.google {
  content: url(../img/header/icon-google-off.png);
}
.twitter {
  content: url(../img/header/icon-twitter-off.png);
}
.pinterest {
  content: url(../img/header/icon-pinterest-off.png);
}
.behance {
  content: url(../img/header/icon-behance-off.png);
}
.dribbble {
  content: url(../img/header/icon-dribbble-off.png);
}
.header_top_nav_icons >li:hover .facebook {
  content: url(../img/header/icon-facebook-on.png);
}
.header_top_nav_icons >li:hover .google {
  content: url(../img/header/icon-google-on.png);
}
.header_top_nav_icons >li:hover .twitter {
  content: url(../img/header/icon-twitter-on.png);
}
.header_top_nav_icons >li:hover .pinterest {
  content: url(../img/header/icon-pinterest-on.png);
}
.header_top_nav_icons >li:hover .behance {
  content: url(../img/header/icon-behance-on.png);
}
.header_top_nav_icons >li:hover .dribbble {
  content: url(../img/header/icon-dribbble-on.png);
}
.header_top_nav_icons >li:hover:first-child {
  background: #4668b3;
}
.header_top_nav_icons >li:hover:nth-child(2) {
  background: #de5745;
}
.header_top_nav_icons >li:hover:nth-child(3) {
  background: #2fbbed;
}
.header_top_nav_icons >li:hover:nth-child(4) {
  background: #d94348;
}
.header_top_nav_icons >li:hover:nth-child(5) {
  background: #3079ff;
}
.header_top_nav_icons >li:hover:last-child {
  background: #eb6397;
}
.header_bottom {
  border-bottom: solid 1px #e6e9ed;
}
.header_bottom_inner {
  width: 1170px;
  height: 111px;
  margin: 0 auto;
}
.header_bottom_logo {
  display: inline-block;
  margin: 36px 67px 0 0;
}
.header_bottom_logo:hover,
.footer_logo:hover {
  opacity: .6;
}
.header_menu {
  height: auto;
  padding: 28px 0;
  box-sizing: border-box;
}
.header_menu > li {
  float: left;
  display: flex;
  padding: 20px 22px;
  color: #506a85;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.header_menu > li:hover {
  color: #00bc9c;
}
/*keyvisual*/
.keyvisual {
  display: flex;
  min-width: 1170px;
  height: 880px;
  background: url(../img/main/keyvisual.jpg) center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.keyvisual_inner {
  text-align: center;
}
h1 {
  font-size: 78px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
.keyvisual_txt {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #a3babf;
}
.lbtn {
  width: 295px;
  font-size: 18px;
  line-height: 63px;
  box-shadow: 0 4px #00a085;
}
.lbtn:hover {
  top: 4px;
}
.started_btn {
  display: inline-block;
}
/*main_top*/
.main_top {
  min-width: 1170px;
  margin: auto;
  padding: 120px 0;
  text-align: center;
}
.list_txtbox {
  position: relative;
  padding-left: 90px;
}
.main_top_list {
  width: 1170px;
  margin: 70px auto 0;
  text-align: left;
}
.main_top_list >li {
  float: left;
  width: 370px;
  margin-left: 10px;
  box-sizing: border-box;
}
.list_title {
  color: #506a85;
  font-size: 26px;
  padding-bottom: 20px;
}
.list_txt {
  color: #506a85;
  font-size: 16px;
  line-height: 25px;
}
.main_top_list > li:first-child {
  margin-left: 10px;
  background: url(../img/main/description-passion.png) no-repeat top left;
}
.main_top_list > li:not(:first-child) {
  margin-left: 20px;
}
.main_top_list > li:nth-child(2) {
  background: url(../img/main/description-creativity.png) no-repeat top left;
}
.main_top_list > li:nth-child(3) {
  background: url(../img/main/description-quality.png) no-repeat top left;
}
/*middle*/
.main_middle {
  padding: 130px 0 128px;
  margin: auto;
  background: #f2f5f7;
  text-align: center;
}
.middle_list_txtbox {
  padding: 30px 0;
  font-size: 26px;
  background: #fff;
  color: #506a85;
  border-right: 1px solid #e6e9ed;
  border-bottom: 2px solid #e6e9ed;
  border-left: 1px solid #e6e9ed;
  border-radius: 0 3px 3px 0;
}
.middle_list_box {
  width: 1170px;
  margin: 70px auto 0;
}
.middle_list_small > li,
.middle_list_large > li {
  float: left;
  position: relative;
}
.middle_list_small > li:not(:first-child),
.middle_list_large > li:not(:first-child) {
  margin-left: 30px;
}
.middle_list_link {
  text-decoration: none;
}
.middle_list_txt {
  font-size: 20px;
}
.identity {
  font-size: 14px;
  margin-top: 10px;
}
.large:hover .middle_list_txt {
  color: #00bc9c;
}
.middle_list_large {
  width: 100%;
  font-size: 0;
}
.middle_list_large > li {
  display: inline-block;
}
.middle_list_large > li:hover .large::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 570px;
  height: 390px;
  justify-content: center;
  align-items: center;
  content: "＋";
  color: #fff;
  background: rgba(0, 188, 156, .9);
  font-size: 18px;
  font-weight: lighter;
}
.middle_list_small {
  padding-top: 10px;
}
.small_txt_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 185px;
  padding-top: 71px;
  background: rgba(0, 188, 156, .9);
  color: #fff;
  opacity: 0;
}
.identity_small {
  font-size: 14px;
  line-height: 38px;
}
.middle_list_small > li:hover .small .small_txt_box {
  color: #fff;
  opacity: 1;
}
/*bottom*/
.main_bottom {
  padding: 130px 0;
}
.bottom_txtbox {
  margin: auto;
  text-align: center;
}
.sbtn {
  width: 150px;
  line-height: 48px;
  margin-top: 70px;
}
.get_in_btn {
  display: inline-block;
}
/*footer*/
.footer_top {
  padding: 75px 0;
  background: #2f4052;
}
.footer_list_box {
  width: 1210px;
  margin: auto;
}
.footer_list > li {
  float: left;
  width: 302.5px;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer_list_title {
  margin-bottom: 27px;
  color: #fff;
  font-size: 16px;
}
.footer_list_txt {
  margin-top: 18px;
  color: #a3b1bf;
  font-size: 14px;
  line-height: 22px;
}
.link {
  position: relative;
  font-size: 14px;
  color: #a3b1bf;
  text-decoration: none;
}
.more_link {
  display: inline-block;
  width: 103px;
  margin-top: 20px;
  font-size: 15px;
}
.link:hover {
  color: #00bc9c;
}
.rarr {
  position: absolute;
  left: 97%;
  transition: all .3s;
}
.link:hover .rarr {
  position: absolute;
  left: 102%;
}
.latest > li {
  position: relative;
  float: left;
  margin-bottom: 3px;
}
.latest > li:nth-child(2n) {
  margin-left: 5px;
}
.latest > li:hover .footer_list_link::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 128.5px;
  height: 88px;
  justify-content: center;
  align-items: center;
  content: "＋";
  color: #fff;
  background: rgba(0, 188, 156, .9);
  font-size: 18px;
}
.fimg {
  width: 128.5px;
  height: 88px;
}
.footer_link_box {
  margin: 20px 0;
}
.get_in_link {
  position: relative;
  display: block;
  padding-left: 20px;
  line-height: 22px;
}
.footer_link_box .get_in_link:first-child {
  background: url(../img/footer/icon-address-off.png) no-repeat left;
}
.footer_link_box .get_in_link:nth-child(2) {
  background: url(../img/footer/icon-tel-off.png) no-repeat left;
}
.footer_link_box .get_in_link:last-child {
  background: url(../img/footer/icon-mail-off.png) no-repeat left;
}
.footer_link_box .get_in_link:first-child:hover {
  background: url(../img/footer/icon-address-on.png) no-repeat left;
}
.footer_link_box .get_in_link:nth-child(2):hover {
  background: url(../img/footer/icon-tel-on.png) no-repeat left;
}
.footer_link_box .get_in_link:last-child:hover {
  background: url(../img/footer/icon-mail-on.png) no-repeat left;
}
.form {
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  margin: 20px 0;
  background: #596675;
}
.in_mail {
  float: left;
  width: 60%;
  background: none;
  border: none;
  color: #a3b1bf;
  outline: none;
  font-size: 14px;
  line-height: 24px;
}
.sub_btn {
  float: right;
  width: 88px;
  font-size: 13px;
  line-height: 26px;
  box-shadow: 0 2px 0 #00a085;
  border: none;
  box-sizing: border-box;
}
.sub_btn:hover {
  transform: translate(0, 1px);
}
.footer_bottom {
  background: #283645;
  padding:31px 0 36px;
}
.footer_bottom_txtbox {
  width: 1170px;
  margin: 0 auto;
  color: #707e8c;
  font-size: 14px;
  line-height: 20px;
}
.copylight {
  float: left;
}
.site_map_box {
  float: right;
}
.site_map_link {
  color: #707e8c;
  text-decoration: none;
}
.site_map_list > li {
  float: left;
  font-size: 14px;
  line-height: 20px;
}
.site_map_link:hover {
  color: #00bc9c;
}
.site_map_list > li:not(:first-child)::before {
  margin: 0 4px;
  content: "・";
}
