@charset "UTF-8";
.cf::before,
.cf::after {
  display: block;
  clear: both;
  content: "";
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.header,
.main,
.footer {
  min-width: 1200px;
}

.header_box {
  width: 100%;
  background:#f5f7fa;
  border-bottom: solid 1px #e6e9ed;
}

.header_top {
  width: 1170px;
  height: 40px;
  margin: auto;
}

.header_left {
  height: 100%;
}

.header_contacts {
  margin-left: 36px;
}

.header_contacts > li {
  float: left;
  margin-left: 46px;
}

.header_contacts > li:first-child {
  margin-left: 4px;
}

.contact {
  position: relative;
  padding: 0;
  color: #668;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
}

.header_mail::before {
  position: absolute;
  top: -70%;
  left: -25%;
  content: url(../img/header/icon-mail-off.png);
}

.header_tel::before {
  position: absolute;
  top: -70%;
  left: -19%;
  content: url(../img/header/icon-tel-off.png);
}

.contact:hover {
  color: #00bc9c;
}

.header_mail:hover.header_mail::before {
  content: url(../img/header/icon-mail-on.png);
}

.header_tel:hover.header_tel::before {
  content: url(../img/header/icon-tel-on.png);
}


.header_right {
  height: 100%;
}

.icons {
  position: relative;
  height: 100%;
}

.icons > li {
  display: flex;
  float: left;
  width: 30px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}

.icon {
  margin: auto;
}

.facebook {
  content: url(../img/header/icon-facebook-off.png);
}

.google {
  content: url(../img/header/icon-google-off.png);
}

.twitter {
  content: url(../img/header/icon-twitter-off.png);
}

.pinterest {
  content: url(../img/header/icon-pinterest-off.png);
}

.behance {
  content: url(../img/header/icon-behance-off.png);
}

.dribbble {
  content: url(../img/header/icon-dribbble-off.png);
}

.icons >li:hover .facebook {
  background: #4668b3;
  content: url(../img/header/icon-facebook-on.png);
}

.icons >li:hover .google {
  content: url(../img/header/icon-google-on.png);
}

.icons >li:hover .twitter {
  content: url(../img/header/icon-twitter-on.png);
}

.icons >li:hover .pinterest {
  content: url(../img/header/icon-pinterest-on.png);
}

.icons >li:hover .behance {
  content: url(../img/header/icon-behance-on.png);
}

.icons >li:hover .dribbble {
  content: url(../img/header/icon-dribbble-on.png);
}

.icons >li:hover:first-child {
  background: #4668b3;
}

.icons >li:hover:nth-child(2) {
  background: #de5745;
}

.icons >li:hover:nth-child(3) {
  background: #2fbbed;
}

.icons >li:hover:nth-child(4) {
  background: #d94348;
}

.icons >li:hover:nth-child(5) {
  background: #3079ff;
}

.icons >li:hover:last-child {
  background: #eb6397;
}

.header_bottom {
  border-bottom: solid 1px #e6e9ed;
}

.header_bottom_box {
  width: 1170px;
  height: 110px;
  margin: 0 auto;
}

.REEN {
  display: inline-block;
  margin: 36px 67px 0 20px;
}

.REEN:hover,
.footer_REEN:hover {
  opacity: .7;
}

.header_menu_inbox {
  float: left;
  display: flex;
  max-width: 1170px;
  margin: auto;
  box-sizing: border-box;
}

.header_menu {
  height: auto;
  padding: 28px 0;
  box-sizing: border-box;
}

.header_menu > li {
  float: left;
  display: flex;
}

.menu {
  padding: 20px 22px;
  color: #506a85;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.menu:hover {
  color: #00bc9c;
}

.key_visual_box {
  display: flex;
  min-width: 1200px;
  height: 880px;
  background: url(../img/main/keyvisual.jpg) center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.key_visual_inbox {
  text-align: center;
}

.key_visual_txtbox {
  text-align: center;
}

.key_visual_title {
  font-size: 78px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.key_visual_txt {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #a3babf;
}

.btn {
  display: inline-block;
  margin: auto;
  text-decoration: none;
  background: #00bc9c;
  box-shadow: 0 4px 0 #009c8c;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn:hover {
  transform: translate(0, 4px);
  box-shadow: 0 0 0 #009c8c;
}

.lbtn {
  width: 295px;
  font-size: 18px;
  line-height: 60px;
}

.started_btn {
  display: inline-block;
}

.main_top {
  min-width: 1200px;
  margin: auto;
  padding: 91px 0 120px;
  text-align: center;
}

.title {
  color: #506a85;
  font-size: 44px;
  margin: 31px 0 30px;
}

.txt {
  color: #506a85;
  font-size: 22px;
  line-height: 33px;
}

.main_top_listbox {
  width: 1170px;
  margin: auto;
  text-align: left;
}

.main_top_list {
  margin-top: 70px;
}

.list_txtbox {
  position: relative;
  padding-left: 98px;
}

.top_list {
  float: left;
  width: 380px;
  box-sizing: border-box;
}

.list_title {
  color: #506a85;
  font-size: 26px;
  padding-bottom: 20px;
}

.list_txt {
  color: #506a85;
  font-size: 16px;
  line-height: 24px;
}

.main_top_list > li {
  margin-left: 10px;
}

.main_top_list > li:first-child {
  margin-left: 0;
  background: url(../img/main/description-passion.png) no-repeat top left;
}

.main_top_list > li:nth-child(2) {
  background: url(../img/main/description-creativity.png) no-repeat top left;
}

.main_top_list > li:nth-child(3) {
  background: url(../img/main/description-quality.png) no-repeat top left;
}

.main_middle {
  padding: 98px 0;
  background: #F2F5F7;
}

.main_middle_box {
  margin: auto;
  text-align: center;
}

.middle_list_box {
  width: 1210px;
  margin: 60px auto 0;
}

.middle_list_img {
  float: left;
  margin: 15px;
}

.middle_list_link {
  background: #fff;
  text-decoration: none;
}

.middle_list_txtbox {
  padding: 15px 0;
  font-size: 20px;
  background: #fff;
  color: #506a85;
}

.middle_list_txt {
  padding: 15px 0;
}

.identity {
  font-size: 14px;
}

.large:hover .middle_list_txt {
  color: #00bc9c;
}

.middle_list_img {
  position: relative;
}

.middle_list_img:hover .large::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 570px;
  height: 390px;
  justify-content: center;
  align-items: center;
  content: "+";
  color: #fff;
  background: rgba(0, 188, 156, .9);
  font-weight: bold;
}

.middle_list_img:hover .small::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 185px;
  justify-content: center;
  align-items: center;
  content: "Astor & Yancy identity";
  color: #fff;
  font-weight: bold;
  background: rgba(0, 188, 156, .9);
}

.main_bottom {
  padding: 98px 0 120px;
}

.bottom_txtbox {
  margin: auto;
  text-align: center;
}

.sbtn {
  width: 150px;
  line-height: 50px;
  margin: 70px auto;
}

.get_in_btn {
  display: inline-block;
}

.footer_top {
  background: #2f4052;
  padding: 60px 0;
}

.footer_list_box {
  width: 1210px;
  margin: auto;
}

.footer_list_txtbox {
  float: left;
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
}

.footer_list_title {
  margin-bottom: 28px;
  color: #fff;
  font-size: 16px;
  /*font-weight: bold;*/
}

.footer_list_txt {
  color: #a3babf;
  font-size: 14px;
  line-height: 24px;
}

.link {
  position: relative;
  font-size: 14px;
  color: #a3babf;
  text-decoration: none;
}

.more_link {
  display: inline-block;
  width: 103px;
  margin: 19px 0;
}

.link:hover {
  color: #00bc9c;
}

.rarr {
  position: absolute;
  top: 11%;
  left: 90%;
  transition: all .3s;
}

.link:hover .rarr {
  position: absolute;
  top: 11%;
  left: 95%;
}

.footer_list_img {
  position: relative;
  float: left;
  margin: 2px 3px;
}

.footer_list_img:hover .footer_list_link::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 85px;
  justify-content: center;
  align-items: center;
  content: "+";
  color: #fff;
  background: rgba(0, 188, 156, .9);
  font-weight: bold;
}

.footer_link_box {
  margin: 21px 0;
}

.get_in_link {
  position: relative;
  display: block;
  padding-left: 20px;
  line-height: 22px;
}

.footer_link_box .get_in_link:first-child {
  background: url(../img/footer/icon-address-off.png) no-repeat left;
}

.footer_link_box .get_in_link:nth-child(2) {
  background: url(../img/footer/icon-tel-off.png) no-repeat left;
}

.footer_link_box .get_in_link:last-child {
  background: url(../img/footer/icon-mail-off.png) no-repeat left;
}

.footer_link_box .get_in_link:first-child:hover {
  background: url(../img/footer/icon-address-on.png) no-repeat left;
}

.footer_link_box .get_in_link:nth-child(2):hover {
  background: url(../img/footer/icon-tel-on.png) no-repeat left;
}

.footer_link_box .get_in_link:last-child:hover {
  background: url(../img/footer/icon-mail-on.png) no-repeat left;
}

.form {
  padding: 5px;
  border-radius: 3px;
  margin: 20px 0;
  background: #596675;
}

.in_mail {
  float: left;
  width: 60%;
  background: none;
  border: none;
  color: #a3b1bf;
  outline: none;
  font-size: 14px;
  line-height: 24px;
}

.sub_btn {
  float: right;
  width: 90px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0 1px 0 #009c8c;
  border: none;
  box-sizing: border-box;
}

.sub_btn:hover {
  transform: translate(0, 1px);
}

.footer_bottom {
  background: #283645;
}

.footer_bottom_txtbox {
  width: 1170px;
  margin: 0 auto;
  padding: 31px 0;
  color: #707e8c;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}

.copy {
  float: left;
}

.site_map_box {
  float: right;
}

.site_map_link {
  color: #707e8c;
  text-decoration: none;
}

.site_map {
  float: left;
  font-size: 14px;
  line-height: 20px;
}

.site_map_link:hover {
  color: #00bc9c;
}

.site_map_list > li:not(:first-child)::before {
  margin: 0 4px;
  content: "・";
}
